html, body {
    overflow-y: hidden !important;
}

#studentpage {
    margin-top: 62px;
}

.flag {
    width: 5vw;
    height: auto;
    border-radius: 0.5vw;
}

.flag:hover {
    transform: scale(1.1);
}

.newsThumbnail {
    width: 80px;
    height: auto;
}

.ribbon {
    background-image: url("newpolygon.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.ribbonText {
    color: white;
    font-weight: bold;
}

.hoverText:hover {
    color: #EFEEEE;
}

.w-60 {
    width: 60%;
}

.ml-7 {
    margin-left: 7%;
}

.mr-10 {
    margin-right: 10%
}

.article, .article:active, .article:hover {
    color: inherit;
}

.center-row {
    display: flex;
    align-items: center;
}

div.progress {
    margin: 0;
}
