@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700";

html {
    overflow: hidden;
}

.blue-icon {
    color: #f0f0f0;
    width: 50px;
    height: 50px;
    background: #3399ff;
    border-radius: 20vh;
}

.wrapper {
    background-color: #f9f9f9;
    display: flex;
    width: 100%;
}

#content {
    z-index: 10;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: all 0.5s;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    -moz-box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
 }

#sidebar.active {
    margin-left: -250px;
}


#bottombar {
    position: absolute;
    min-height: 250px;
    max-height: 250px;
    min-width: 100vw;
    transition: all 0.5s;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    -moz-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    bottom: 0;
}

#bottombar.active {
    margin-bottom: -250px;
}

body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    color: #212529;
    padding: 20px;
    padding-left: 20px;
}

.h3-resize {
    font-size: 3vh !important;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    background: #FEFEFE;
    color: #323232;
    margin-bottom: 0.4vw;
    margin-right: 0.3vw;
    border-top-right-radius: 50vh;
    border-bottom-right-radius: 50vh;
    padding: 0.5vw;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #4B4B4B;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #f0f0f0;
}

#sidebarCollapse {
    margin-left: 25px;
    margin-top: 25px;
}

#bottombarCollapse {
    position: absolute;
    right: 25px;
    bottom: 275px;
}

.dropdown-toggle {
    background-color: #FFFFFF;
    border: 1px solid #ced4da;
}

.dropdown-item.active.selected, .dropdown-item.active{
    background-color: #f0f0f0 !important;
    color: #212529;
}

.stick:hover {
    cursor: pointer;
}

.custom-rounded {
    border-radius: 0.5vw !important;
    -webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    -moz-box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
}

.assignment-info {
    display: none;
}

.assignment-info.active {
    display: flex;
}

.btn-danger {
    background-color: #ef476f !important;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #bottombar {
        margin-bottom: -250px;
    }

    #bottombar.active {
        margin-bottom: 0;
    }
}

.element-Game-Image{
    z-index: 0;
    background-repeat: no-repeat;
    border: 3px solid #3399ff;
}

.element-Game-Text{
    z-index: 1;
    background: white;
    border: 3px solid #3399ff;
}

.element-Game-Link{
    z-index: 2;
    background: transparent;
    border: 3px dotted #3399ff;

}

.element-Game{
    position: absolute;
}
