.gold {
    color: #daa520;
    font-size: 3rem;
}

.podiumfont {
    font-family: 'Roboto';
    font-size: 3rem;
}

.silver {
    color: #D3D3D3;
    font-size: 2.5rem;
}

.bronze {
    color: #cd7f32;
    font-size: 2.5rem;
}

.lineheight-min {
    line-height: 5vh;
}

.pt-10 {
    padding-top: 10vh;
}

.pt-20 {
    padding-top: 20vh;
}

.bar {
    background-clip: content-box;
    background-color: #FAF9F3;
}

.h-15 {
    height: 15vh;
}
